n8n/auth.json
{
  "name": "InvestoraAI Auth",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "investora/register",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "node-reg-webhook",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "investora-register-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst { username, passwordHash, userId, profile } = body;\n\nif (!username || !passwordHash || !userId) {\n  return [{ json: { ok: false, error: 'Missing required fields' } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.users) staticData.users = {};\n\nif (staticData.users[username]) {\n  return [{ json: { ok: false, error: 'Username already taken' } }];\n}\n\nstaticData.users[username] = { passwordHash, userId, profile };\n\nreturn [{ json: { ok: true, userId } }];"
      },
      "id": "node-reg-code",
      "name": "Register Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItems",
        "options": {}
      },
      "id": "node-reg-respond",
      "name": "Register Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "investora/login",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "node-login-webhook",
      "name": "Login Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 440],
      "webhookId": "investora-login-002"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst { username, passwordHash } = body;\n\nif (!username || !passwordHash) {\n  return [{ json: { ok: false, error: 'Missing credentials' } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst users = staticData.users || {};\nconst user = users[username];\n\nif (!user) {\n  return [{ json: { ok: false, error: 'User not found' } }];\n}\n\nif (user.passwordHash !== passwordHash) {\n  return [{ json: { ok: false, error: 'Invalid password' } }];\n}\n\nreturn [{ json: { ok: true, userId: user.userId, profile: user.profile } }];"
      },
      "id": "node-login-code",
      "name": "Login Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 440]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItems",
        "options": {}
      },
      "id": "node-login-respond",
      "name": "Login Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 440]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "investora/profile",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "node-profile-webhook",
      "name": "Profile Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 680],
      "webhookId": "investora-profile-003"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst { username, profile } = body;\n\nif (!username || !profile) {\n  return [{ json: { ok: false, error: 'Missing fields' } }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.users || !staticData.users[username]) {\n  return [{ json: { ok: false, error: 'User not found' } }];\n}\n\nstaticData.users[username].profile = profile;\n\nreturn [{ json: { ok: true } }];"
      },
      "id": "node-profile-code",
      "name": "Profile Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 680]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItems",
        "options": {}
      },
      "id": "node-profile-respond",
      "name": "Profile Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 680]
    }
  ],
  "connections": {
    "Register Webhook": {
      "main": [[{ "node": "Register Code", "type": "main", "index": 0 }]]
    },
    "Register Code": {
      "main": [[{ "node": "Register Respond", "type": "main", "index": 0 }]]
    },
    "Login Webhook": {
      "main": [[{ "node": "Login Code", "type": "main", "index": 0 }]]
    },
    "Login Code": {
      "main": [[{ "node": "Login Respond", "type": "main", "index": 0 }]]
    },
    "Profile Webhook": {
      "main": [[{ "node": "Profile Code", "type": "main", "index": 0 }]]
    },
    "Profile Code": {
      "main": [[{ "node": "Profile Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
